%p
  - if !@workshop.invitable
    = t('workshops.invitable')
  - else
    - if @workshop.past?
      - if logged_in?
        = t('workshops.past')
      - else
        = t('workshops.past_but_follow')
    - elsif @workshop.attendee? current_user
      = t('workshops.attendee')
    - elsif @workshop.waitlisted? current_user
      = t('workshops.waitlisted')
    - elsif !@workshop.spaces?
      = t('workshops.full')

- if logged_in? && @workshop.future? && @workshop.invitable
  - if @workshop.attendee?(current_user)
    = link_to t('workshops.manage_invitation'), rsvp_workshop_path(@workshop), method: :post, class: 'button round expand'
  - else
    = link_to t('workshops.attend_student'), rsvp_workshop_path(@workshop, role: "Student"), method: :post,class: 'button round expand'
    = link_to t('workshops.attend_coach'), rsvp_workshop_path(@workshop, role: "Coach"), method: :post, class: 'button round expand'

    -#- if @workshop.rsvp_available?
      = form_tag remove_workshop_path, method: :post do
        = submit_tag t('workshops.cancel'), class: 'button round expand'
    -#- else
      = t('workshops.rsvp_too_late')
      = link_to t('workshops.send_us_email'), "mailto:#{@workshop.chapter.email}"


  -#- elsif @workshop.waitlisted?(current_user)
    = form_tag remove_workshop_path, method: :post do
      = submit_tag t('workshops.remove'), class: 'button round expand'
      - if @workshop.attendee?(current_user)
        = submit_tag t('workshops.cancel'), class: 'button round expand'

  -#- else
    = form_tag add_workshop_path, method: :post do
      = hidden_field_tag :role, :student
      - if @workshop.student_spaces?
        = submit_tag t('workshops.attend_student'), class: 'button round expand'
      - else
        = submit_tag t('workshops.join_student_waitlist'), class: 'button round expand'

    = form_tag add_workshop_path, method: :post do
      = hidden_field_tag :role, :coach
      - if @workshop.coach_spaces?
        = submit_tag t('workshops.attend_coach'), class: 'button round expand'
      - else
        = submit_tag t('workshops.join_coach_waitlist'), class: 'button round expand'
- elsif not logged_in?
  = link_to "Sign up", new_member_path, class: 'button round expand'
  = link_to "Log in", redirect_path, class: 'button round expand'
