= render partial: 'shared/title', locals: { title: "Coding is easier than you think", date: nil }
%section
  .container
    .row
      .medium-8.columns
        %h1= t('workshops.sorry')
        %p
         = t('workshops.goodbye')
        %p
          = t('workshops.other_time')
          = link_to t('workshops.drop_us_email'), "mailto:hello@codebar.io"
          = t('workshops.questions')
        %p
          = link_to t('workshops.return'), workshop_path(@workshop)

