= render partial: 'shared/title', locals: { title: "Coding is easier than you think", date: nil }
%section
  .container
    .row
      .medium-12.columns
        %h1= t('workshops.title')
        %p
          = t('workshops.info')
          %strong= t('workshops.notice')

        %p= t('workshops.read_code', code_link: link_to('Code of Conduct', code_of_conduct_path))

        - if @coach
          %p= t('workshops.coach')
        - else
          %p= t('workshops.student')

        %p
          = t('workshops.see_you_soon')
          = link_to t('workshops.drop_us_email'), "mailto:hello@codebar.io"
          = t('workshops.questions')
        %p
          = link_to t('workshops.return'), workshop_path(@workshop)

